.playlists-container {
	padding-left: 20px;
	padding-right: 20px;
}

.search-input-container {
	display: flex;
	justify-content: center;
}

.search-input {
	width: 50%;
}

.pagination-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
