.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

.title-main{
    max-height: 50px;
    position: left;
    margin:initial;
    top: 20%;
    font-size: 25px;
    text-align: left;
}

.button-logout{
    padding: 10px 20px;
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-logout:hover {
    background-color: #0056b3;
}

.navbar{
    background-color: rgb(6, 14, 88);
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Cambiado a flexbox para que los elementos se alineen en línea */
    justify-content: space-around;
}